/* Write your CSS here */
.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.for-checkout-btn {
  border-style: none;
  cursor: pointer;
  background-color: #0b69ff;
  color: #ffffff;
  padding: 3%;
  border-radius: 8px;
}
